<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold API by 7/7 House</title>
    <!-- Canvas -->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div id="capture">
            <span id="date"><%= date %></span>
            <span id="custom" contenteditable="true">25,300</span>
            <span><%= barSell %></span><br>
            <span id="barbuy"><%= barBuy %></span><br>
            <span id="jewsell"><%= jewSell %></span> <br>
            <span id="jewbuy"><%= jewBuy %> </span><br>
        </div>
        <p>กด Save แล้ว คลิกขวาที่ รูปภาพ แล้วเซฟอีกครั้ง</p>
        <button onclick="capture()">Save</button>
    </main>
    <section></section>
<script>
    function capture(){
        html2canvas(document.querySelector("#capture")).then(canvas => {
            document.getElementsByTagName('body')[0].appendChild(canvas)
            document.getElementsByTagName('main')[0].remove()
        });
    }
</script>
</body>
</html>